# Provenance: MODELED FROM DOCS (grounded=modeled-from-docs).
# PayTabs does not publish a downloadable first-party OpenAPI document. This spec
# was modeled from the PayTabs PT2 REST API reference at docs.paytabs.com and
# dev.paytabs.com (Hosted Payment Page / Managed / Own Form / Invoices / Token /
# Transaction-management manuals) and the public PT2 Direct APIs Postman
# collection (documenter.getpostman.com/view/14575178/TWDRtfWG). Operations,
# fields and enums reflect documented behavior as of 2026-07-17.
# Region host note: the same paths are served on region-specific hosts —
# secure.paytabs.com (UAE/default), secure.paytabs.sa (KSA), secure-egypt,
# secure-oman, secure-jordan, secure-kuwait, secure-iraq, secure-morocco,
# secure-doha (Qatar) and secure-global.paytabs.com. Use the host that matches
# the profile's region or authentication will fail.
openapi: 3.0.1
info:
  title: PayTabs PT2 API
  description: >-
    PayTabs PT2 REST API for MENA payment acceptance. A small, uniform surface:
    POST /payment/request creates and manages transactions (hosted payment page,
    managed/own form, invoices, tokenized and recurring charges, and follow-up
    capture / void / release / refund actions selected via tran_type), and
    POST /payment/query reads transaction status by tran_ref or cart_id.
    Requests are JSON; the merchant server key is sent in the `authorization`
    header and the profile is identified by `profile_id` in the body.
  termsOfService: https://paytabs.com/en/terms-and-conditions/
  contact:
    name: PayTabs Support
    url: https://support.paytabs.com/
  version: '2.0'
servers:
  - url: https://secure.paytabs.com
    description: UAE / default region
  - url: https://secure.paytabs.sa
    description: Saudi Arabia (KSA)
  - url: https://secure-egypt.paytabs.com
    description: Egypt
  - url: https://secure-oman.paytabs.com
    description: Oman
  - url: https://secure-jordan.paytabs.com
    description: Jordan
  - url: https://secure-kuwait.paytabs.com
    description: Kuwait
  - url: https://secure-iraq.paytabs.com
    description: Iraq
  - url: https://secure-morocco.paytabs.com
    description: Morocco
  - url: https://secure-doha.paytabs.com
    description: Qatar
  - url: https://secure-global.paytabs.com
    description: Global
security:
  - serverKey: []
tags:
  - name: Payments
    description: Create and manage transactions.
  - name: Transactions
    description: Query and manage existing transactions.
paths:
  /payment/request:
    post:
      operationId: createPaymentRequest
      tags:
        - Payments
      summary: Create or act on a transaction
      description: >-
        Creates a transaction. The `tran_type` field selects the action - `sale`
        or `auth` initiate a new payment (returning a hosted `redirect_url` for
        HPP/managed/own-form flows, or authorizing a stored `token`), while
        `capture`, `void`, `release`, `refund` and `register` act on a prior
        transaction referenced by `tran_ref`. Invoice and recurring flows reuse
        the same endpoint with additional fields.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '200':
          description: Transaction created or actioned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Validation error (missing or conflicting parameters).
        '401':
          description: Authentication failed (wrong server key or region host).
  /payment/query:
    post:
      operationId: queryTransaction
      tags:
        - Transactions
      summary: Query a transaction
      description: >-
        Returns the current state of a transaction. Provide `profile_id` plus
        exactly one of `tran_ref` (single transaction) or `cart_id` (array of
        transactions for that cart). Only one of `tran_ref` or `cart_id` may be
        set or a 400 is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: Transaction detail (object) or list (array for cart_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Both tran_ref and cart_id supplied, or neither.
        '401':
          description: Authentication failed.
components:
  securitySchemes:
    serverKey:
      type: apiKey
      in: header
      name: authorization
      description: >-
        Merchant server key sent as the raw value of the `authorization` HTTP
        header (not a Bearer token), obtained from the PayTabs merchant
        dashboard under Developers > Key management. Format resembles
        SXXXXXXXXX-XXXXXXXXXX-XXXXXXXXXX. Must match the profile's region host.
  schemas:
    CustomerDetails:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        street1:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code (e.g. SA, AE, EG).
        zip:
          type: string
        ip:
          type: string
    PaymentRequest:
      type: object
      required:
        - profile_id
        - tran_type
        - tran_class
        - cart_id
        - cart_description
        - cart_currency
        - cart_amount
      properties:
        profile_id:
          oneOf:
            - type: integer
            - type: string
          description: The PayTabs profile that owns the transaction.
        tran_type:
          type: string
          enum:
            - sale
            - auth
            - capture
            - void
            - release
            - refund
            - register
          description: The transaction action to perform.
        tran_class:
          type: string
          enum:
            - ecom
            - recurring
            - moto
          description: Transaction class - e-commerce, recurring, or mail/telephone order.
        cart_id:
          type: string
          maxLength: 64
          description: Merchant-side cart/order identifier.
        cart_description:
          type: string
          maxLength: 128
        cart_currency:
          type: string
          description: ISO 4217 currency (e.g. SAR, AED, EGP, USD).
        cart_amount:
          type: number
          minimum: 0.01
        tran_ref:
          type: string
          description: Prior transaction reference (required for capture/void/release/refund).
        callback:
          type: string
          format: uri
          maxLength: 255
          description: Server-to-server IPN callback URL.
        return:
          type: string
          format: uri
          maxLength: 255
          description: Browser return URL after the hosted payment page.
        customer_details:
          $ref: '#/components/schemas/CustomerDetails'
        shipping_details:
          $ref: '#/components/schemas/CustomerDetails'
        hide_shipping:
          type: boolean
        payment_methods:
          type: array
          items:
            type: string
          description: >-
            Restrict allowed methods, e.g. creditcard, mada, applepay, stcpay,
            valu, unionpay, amex, meeza, knet, benefit, omannet, urpay.
        token:
          type: string
          description: Saved-card token for token-based / recurring charges.
        tokenise:
          type: integer
          minimum: 1
          maximum: 6
          description: Request tokenization of the card in the returned response.
        show_save_card:
          type: boolean
        config_id:
          type: integer
          description: Hosted page theme/config identifier.
        card_filter:
          type: string
          maxLength: 255
          description: Restrict accepted BIN ranges.
        framed:
          type: boolean
          description: Render the hosted page inside an iframe (managed form).
        user_defined:
          type: object
          description: Up to nine merchant fields udf1..udf9.
    QueryRequest:
      type: object
      required:
        - profile_id
      properties:
        profile_id:
          oneOf:
            - type: integer
            - type: string
        tran_ref:
          type: string
        cart_id:
          type: string
    PaymentResponse:
      type: object
      properties:
        tran_ref:
          type: string
        tran_type:
          type: string
        cart_id:
          type: string
        cart_description:
          type: string
        cart_currency:
          type: string
        cart_amount:
          type: string
        redirect_url:
          type: string
          format: uri
          description: Hosted payment page URL to redirect the customer to (sale/auth HPP flows).
        customer_details:
          $ref: '#/components/schemas/CustomerDetails'
        payment_result:
          type: object
          properties:
            response_status:
              type: string
              description: A (authorized), H (hold), P (pending), V (voided), E (error), D (declined).
            response_code:
              type: string
            response_message:
              type: string
            transaction_time:
              type: string
        payment_info:
          type: object
          properties:
            payment_method:
              type: string
            card_type:
              type: string
            card_scheme:
              type: string
            payment_description:
              type: string
        token:
          type: string
          description: Card token returned when tokenise/register was requested.
